.container {
  display: grid;
  grid-auto-columns: auto;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-gap: 30px 30px;
  padding: 30px;
  justify-content: center;
 
}

.header {
  position: relative;
  width: 100%;
  height: 200px;
  float: left;
  padding-left: 70px;
 
 

  .menu {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }

  a {
    display: block;
    position: absolute;
    img {
      width: 350px;
    }
  }

}
